:root {
  --color-green: #50fa7b;
}


*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
}

/** 
  https://stackoverflow.com/questions/28988445/css-62-5-why-do-developers-use-it
  10px é um tamanho de fonte ridiculamente pequeno. No entanto, ele tem alguma utilidade se você aplicá-lo com cautela.
  Ao redefinir a fonte raiz (HTML) para 62,5%, posso calcular todas as minhas unidades REM com a fórmula mágica de 1rem = 10px
  Então, eu redefino o corpo de volta ao meu tamanho de fonte padrão usando EMs ( body { font-size: 1.6em }, proporcional ao número de 62,5%, agora é fácil ver que é 16 px)
  A partir daí, todas as unidades podem ser declaradas como unidades em ou REM, proporcionais ao tamanho da fonte raiz.
  */

body {
  background: #282a36;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6em;
  -webkit-font-smoothing: antialiased; /** qualidade retina */
  scroll-behavior: smooth; /** scroll suave */
}

header {
  padding: 3.2rem;
  border-bottom: 1px solid #333;
  background: rgba(0, 0, 0, 0.1);
}


.links {
  text-align: center;
}


.links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin: 0 1.6rem
}

.links a:hover {
  color: var(--color-green);
  transition: color 500ms;
}

#wrapper {
  text-align: center;
  padding: 3.2rem;
  color: #fff;
}

#wrapper img {
  border-radius: 50%;
  border: 2px solid var(--color-green);
  margin-bottom: 3.2rem;
  width: 300px;
}

#wrapper h1 {
  font-size: 4.2rem;
  line-height: 5.2rem;
  font-weight: bold;
}

#wrapper h2 {
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: normal;
  margin-top: 8px;
}

#wrapper p {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: normal;
  width: 50rem;
  margin: 3.2rem auto;
}

#wrapper p a {
  color: var(--color-green);
  transition: color 500ms;
  text-decoration: inherit;
}

#wrapper p a:hover {
  text-decoration: underline;
}

footer > nav a {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--color-green);
}

