{% extends "layout.njk" %} 


{% block head %}
  <title>Sobre Marlondck</title>
{% endblock %}

{% block content %} 

  <div id="wrapper">
    <img src="https://github.com/marlondck.png" alt="Marlondck" />
    <h1>Marlondck</h1>
    <h2>Desenvolvedor Front-end</h2>
    <p>
      Desenvolvedor front-end fluente em javascript, verifique meu portifólio no
      github:
      <a href="https://github.com/marlondck?tab=repositories" target="_blank"
        >Marlondck</a
      >
    </p>
  </div>

  <footer>
    <nav class="links">
      <a href="https://www.linkedin.com/in/marlon-dck/" target="_blank"
        >Linkedin</a
      >
    </nav>
  </footer>

{% endblock %}
